[flake8]
application-import-names = perfect_python,tests
import-order-style = google
select = ANN,B,B9,BLK,C,D,E,F,I,S,W
docstring-convention = google
ignore = E203,E501,W503
max-line-length = 80
max-complexity = 10
per-file-ignores =
    tests/*:S101
